<!-- ========== HEADER ========== -->
<header class="header main-header header-style-2" id="circular-particles">
  <div class="primary-trans-bg">
    <div class="container">
      <div class="outer">
        <div class="inner text-center">
          <h1 class="white-color">Equip Your Customers to Prevent
            <br/>
            All ATO Fraud in One Place.</h1>
          <h5 class="">Our system empowers your enterprise to mitigate risk and improve the customer experience during ATO.</h5>
        </div>
      </div>
    </div>
  </div>
</header>

        <section class="se-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-6 se-feature-style-3">
                        <div class="feature-wrap">
                            <i class="icon ion-ios-analytics-outline"></i>
                            <h5>Risk Mitigation</h5>
                            <p>Protect your enteprise from lawsuits based on account takeover fraud.</p>
                        </div> 
                    </div> 

                    <div class="col-md-4 col-sm-6 se-feature-style-3">
                        <div class="feature-wrap">
                            <i class="icon ion-ios-paper-outline"></i>
                            <h5>Customer Experience</h5>
                            <p>Empower your fraud team to streamline your customer experience after ATO.</p>
                        </div> 
                    </div> 

                    <div class="col-md-4 col-sm-6 se-feature-style-3">
                        <div class="feature-wrap">
                            <i class="icon ion-ios-lightbulb-outline"></i>
                            <h5>Secure Communication</h5>
                            <p>Maintain a verified line of communication with customers during an ATO hack.</p>
                        </div> 
                    </div> 
<!--                     <div class="col-md-6 col-sm-6 se-feature-style-3">
                        <div class="feature-wrap">
                            <i class="icon ion-outlet"></i>
                            <h5>Font Icons</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> 
                    </div> 

                    <div class="col-md-6 col-sm-6 se-feature-style-3">
                        <div class="feature-wrap">
                            <i class="icon ion-ios-bolt-outline"></i>
                            <h5>Lightning Fast</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> 
                    </div> 
 -->                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>



        <!-- ========== SINGLE FEATURE SECTION ========== -->
<section class="se-section single-feature">

  <div class="col-md-6 zero-padding side-img">
    <img src="https://placehold.it/1600x1000?text=Enterprise%20Grade" alt="" class="img-responsive">
  </div>
  <!-- end side-img -->

  <div class="container feature-desc">
    <div class="row">
      <div class="col-md-5 col-md-push-7 feature-info">
        <h2>Preserve the integrity of your enterprise</h2>
        <p>As security breaches become more prevelant and hackers become more sophisticated, businesses need to collaborate to prevent fraud and combat malicious online behavior.
        </p>
        <p>Deauthorized is here to help your business coordinate efforts with consumers who are under attack and need assistance. We provide a secure, trustless ID from consumers to your application. You can use our dashboard to manage clients or integrate
          our API with your fraud team to manage clients and restore services internally.
        </p>
        <%= link_to "Learn More", new_contact_path, class: "btn se-btn btn-rounded" %>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>