<!-- ========== HEADER ========== -->
<header class="header main-header header-style-2" id="circular-particles">
  <div class="primary-trans-bg">
    <div class="container">
      <div class="outer">
        <div class="inner text-center">
          <h1 class="white-color">
            Protecting Everyone from <br/>Account Takeover
            </h1>
          <h5 class="">Our system empowers enterprises and their customers to stay in control of their accounts even if they get hacked.</h5>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="se-section features-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 se-feature">
        <i class="icon ion-radio-waves"></i>
        <h5>Keep Control</h5>
        <p> Our system uses biometric info so only verified customers can authorize the shutdowns </p>
      </div>
      <div class="col-md-4 col-sm-12 se-feature">
        <i class="icon ion-ios-paper-outline"></i>
        <h5>Protect Everything
        </h5>
        <p>Notify all service providers simultaneously to suspend all login activity.</p>
      </div>
      <div class="col-md-4 col-sm-12 se-feature">
        <i class="icon ion-ios-lightbulb-outline"></i>
        <h5>Secure Accounts</h5>
        <p>Get accounts restored with secure communication between businesses and customers.</p>
      </div>
    </div>
  </div>
</section>





<!-- ========== STEPS ========== -->
<section class="se-section se-steps">
  <div class="container">
    <div class="row text-center">
      <h3 class="underline mtn">It's as ease as 1 - 2 - 3!</h3>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-md-4 col-sm-4 one-step">
        <h4>Download Our Mobile App</h4>
        <p>Download our mobile application to create your account.
        </p>
      </div>

      <div class="col-md-4 col-sm-4 one-step">
        <h4>Sign Up for an Account
        </h4>
        <p>Use the mobile app to authenticate via a single sign-on, biometric authenticator.
        </p>
      </div>

      <div class="col-md-4 col-sm-4 one-step">
        <h4>Connect with Your Services</h4>
        <p>Integrate your online financial accounts, email accounts, mobile providers, and more.</p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<!-- ========== CTA SECTION ========== -->
<section class="se-section primary-bg">
  <div class="container">
    <div class="row text-center">
      <h3>Create Your Account Now!</h3>
      <p>Get 30 days trial. No credit card required.</p>
      <%= link_to "SIGN UP", new_user_registration_path, class: "btn se-btn-black btn-rounded" %>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
