<footer class="footer-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center"></div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-small text-center">
				<p class="no-margin">&copy; Deauthorized</p>
			</div>
			<!-- /.column -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</footer>
<!-- /.footer -->
